body {
    margin: 0;
    padding: 0;
    font-family: 'Twentieth Century';
    /* background: #000000; */
}

.form-control:focus {
    border:2px solid #f4b92d !important;
    box-shadow: none;
  }



.blackbackground *{
    background: #000000;
}

@font-face {
    font-family: Sagrantino;
    src: url('../src/components/SagrantinoRegular.TTF');
}

@font-face {
    font-family: Twentieth Century;
    src: url('../src/components/Twentieth Century.ttf');
}
@font-face {
    font-family: Eastman;
    src: url('../src/components/eastman-roman-bd.ttf');
}

.accordion-button::after {
    filter: invert(1);
}


/* This is footer CSS */

.site-footer {
    border-top: 2px solid #ffffff;
    background-color: #000000;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}


/* #bb943b */

.site-footer hr {
    border-top-color: #ffffff;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #ffffff;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #ffffff
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #F4B92D;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #ffffff
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #000000;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.img-wraper {
    background-color: red;
    z-index: 99999;
}

.withImg {
    /* The image used */
    background-image: url("./components/images/bodyCarousal.png");
    /* Full height */
    height: 328.5px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}


/*   
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  } */

.mainLoader {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
  
    color: #F4B92D
}

.shade {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.carousel {
    background: #EEE;
}

.themeColor *{
    color:#F4B92D
}
.carousel-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
}


/* cell number */

.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.mycarousel-caption {
    position: absolute;
    right: 15%;
    /* bottom: 1.25rem; */
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    /* color: #fff; */
    text-align: center;
    top: 30%;
    font-size: 50px;
    color: white;
}

.whatsapp {
    position: fixed;
    bottom: -4px;
    right: 9px;
    font-size: 50px;
    z-index: 99999999;
    border-radius: 100%;
}

.mynavbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.thumbnail .keen-slider__slide {
    font-size: 30px;
    margin-top: 10px;
    height: 100px;
}

.thumbnail .keen-slider__slide {
    cursor: pointer;
}

.thumbnail .keen-slider__slide.active {
    border: 2px solid #F4B92D;
}

.modal-open {
    padding-right: 0px !important;
}

.modal-content {
    background-color: #ffffff;
    border: 1px solid #212427;
    color: #212427;
}

.btnActive {
    color: white;
    background-color: #f88234;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btnSada {
    color: #f88234;
    border: 1px solid #f88234;
    background-color: #000000;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

::-webkit-file-upload-button {
    background-color: #000000;
    color: #e2af26;
    margin-right: 10px;
    border: 1px solid #e2af26;
    padding: 1em;
}

.editLoader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999999999;
    background-color: rgb(0 0 0 / 0.6);
}

/* html,
body {
    overflow-x: hidden;
} */

.glow {
   
    -webkit-animation: glowing 0.4s ease-in-out infinite alternate;
    -moz-animation: glowing 0.4s ease-in-out infinite alternate;
    animation: glowing 0.4s ease-in-out infinite alternate;
    
    /* padding-left: 29px; */
    /* margin-left: 23px;
    margin-top: 5px;
    width: 150px;
    height: 164px; */
   
}

@-webkit-keyframes glowing {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.blur {
    backdrop-filter: blur(15px);
}

.image { opacity: 0; transition: opacity 0.3s; }
.image-loaded { opacity: 1; }


.row>* {
    
    padding-right: calc(var(--bs-gutter-x) * 0);
   padding-left: calc(var(--bs-gutter-x) * 0);

}

.mycontainer-fluid {
     --bs-gutter-x: 0; 
    --bs-gutter-y: 0; 
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .0); 
     padding-left: calc(var(--bs-gutter-x) * .0);
    margin-right: auto;
    margin-left: auto;
}

.btn-close{
    opacity: 1;
    font-size: 30px;
}


.container-cropper {
	height: 90%;
	padding: 10px;
}

.cropper {
	height: 90%;
	position: relative;
}

.slider {
	height: 10%;
	display: flex;
	align-items: center;
	margin: auto;
	width: 60%;
}

.container-buttons {

	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* /* .youtube-container {
	overflow: hidden;
	width: 100%;
	/* Keep it the right aspect-ratio */
	/* aspect-ratio: 16/9;
	/* No clicking/hover effects */
	/* pointer-events: none; */ 
    /* 
} */
	iframe {
		width: 320%;
		height: 100%;
		margin-left: -110%;
    }

.loadingImage{
    filter: grayscale(1);
    -webkit-animation: notglowing 0.6s ease-in-out infinite alternate;
    -moz-animation: notglowing 0.6s ease-in-out infinite alternate;
    animation: notglowing 0.6s ease-in-out infinite alternate;

  
}

@-webkit-keyframes notglowing {
   from{
   filter: grayscale(1);
   }
   to{
    filter:grayscale(0)
   }
}


a{
    text-decoration: none;
}


.px-1 {
    padding-right: 0.3rem!important;
    padding-left: 0.3rem!important;
}


.mypagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
  
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #f4b92d;
    --bs-pagination-border-radius: 0.375rem;
   
   
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #000000;
    --bs-pagination-active-bg: #f4b92d;
    --bs-pagination-active-border-color: #f4b92d;
    --bs-pagination-disabled-color: #6c757d;
  
   
    display: flex;
    padding-left: 0;
    list-style: none;
}





.ribbon-2 {
    --f: 10px; /* control the folded part*/
    --r: 15px; /* control the ribbon shape */
    --t: 10px; /* the top offset */
    
    position: absolute;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path: 
      polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    background: #BD1550;
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
  }



  
/* common */
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
 
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 2px 0;
    background-color: #F4B92D;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato','Sagrantino' ;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
    z-index: 9999999;
  }
  
  /* top left*/
  .ribbon-top-left {
    top: -10px;
    left: -10px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(327deg);
  }
  
  /* top right*/
  .ribbon-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }
  
  /* bottom left*/
  .ribbon-bottom-left {
    bottom: -10px;
    left: -10px;
  }
  .ribbon-bottom-left::before,
  .ribbon-bottom-left::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-bottom-left::before {
    bottom: 0;
    right: 0;
  }
  .ribbon-bottom-left::after {
    top: 0;
    left: 0;
  }
  .ribbon-bottom-left span {
    right: -25px;
    bottom: 30px;
    transform: rotate(225deg);
  }
  
  /* bottom right*/
  .ribbon-bottom-right {
    bottom: -10px;
    right: -10px;
  }
  .ribbon-bottom-right::before,
  .ribbon-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-bottom-right::before {
    bottom: 0;
    left: 0;
  }
  .ribbon-bottom-right::after {
    top: 0;
    right: 0;
  }
  .ribbon-bottom-right span {
    left: -25px;
    bottom: 30px;
    transform: rotate(-225deg);
  }


  .player-wrapper {
    position: relative;
    /* 720 / 1280 = 0.5625 */
  }
  .ytp-pause-overlay{
    display: none;
  }
  .ytp-pause-overlay-container{
    display: none;
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }



  .thatcard{
    display:'none';
  }

  


  .placeholder{
    background-color: #F4B92D;
  }


  .jodit_theme_summer {
    --jd-color-background-default: #417505;
    --jd-color-border: #474025;
    --jd-color-panel: #5fd3a2;
    --jd-color-icon: #8b572a;
  }




  body{
    padding: 0px !important;
    overflow-y: auto !important;

  }

  #navbar{
    margin-right: 0px !important;
    padding-right: 0px !important;
  }

  .visually-hidden {
    /* position: absolute !important; */
    /* clip: rect(1px, 1px, 1px, 1px); */
    padding: 0 !important;
    border: 0 !important;
    height: 0.5px !important;
    width: 0.5px !important;
    overflow: hidden;
  }

/* .helloworldTwo{
  transform:translate3d(0px, 0px, 0px) !important
} */
  
  .btn-close {
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;
    
    /* .icon-cross {
        @include cross(20px, #000,2px);    
    } */
    
    &:hover,
    &:focus {
      transform: rotateZ(90deg);
      background: hsl(216, 100, 40);
    }
  
  }


